---
const { title, description, mapsLink, shortname, image } = Astro.props
---

<div class="spot" style="background-image: url(${image});">
  <div class="title">{shortname}<br />{title}</div>
  <div class="card">
    {description}
    <a href={mapsLink} target="_blank">Karte</a>
  </div>
</div>

<style lang="scss">
  .spot {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      margin-top: 30px;
      margin-left: 20px;
      color: white;
      font-size: 30px;
    }

    .card {
      height: 100px;
      background-color: white;
      border-radius: 10px;
      margin: 5px;
      padding: 10px;
    }
  }
</style>
